
canvas {
	position: absolute;
	top: 0;
	left: 0;
}
p {
	position: relative;
	font: 50px Verdana;
	color: #ff00aa;
	height: 100px;
	text-shadow: 0 0 2px white;
	text-align: center;
	margin-top: 2%;
}
p a {
	text-decoration: none;
	color: #aaa;
}
span {
	font-size: 11px;
}

body {
	overflow: hidden;
}

.container {
	position: relative;
	height: 100px;
	text-align: center;
	margin-top: 570px;
  }
  